---
import GitHub from "@/icons/GitHub.astro"
import Section from "@/components/Section.astro"

interface Project {
  urls: {
    website: string
    gitHub?: string
  }
  description: string
  highlights: string[]
  name: string
  endDate?: string
  startDate?: string
}

const projects: Project[] = Astro.props.cv.projects
---

<Section title="projects">
  <ul id="projects">
    {
      projects.map(
        ({ urls, description, highlights, name, endDate, startDate }) => {
          const isActive = startDate && !endDate
          return (
            <li>
              <article>
                <header>
                  <h4>
                    <a href={urls.website} title={`Project ${name}`}>
                      {name}
                    </a>
                    {isActive && <span>&bull;</span>}
                    {urls.gitHub && (
                      <a
                        class="github-code-link"
                        href={urls.gitHub}
                        target="_blank"
                        title={`Project code - ${name}`}
                      >
                        <GitHub />
                      </a>
                    )}
                  </h4>
                  <p>{description}</p>
                </header>
                <footer>
                  <ul id="highlights">
                    {highlights.map((highlight) => {
                      return <li>{highlight}</li>
                    })}
                  </ul>
                </footer>
              </article>
            </li>
          )
        },
      )
    }
  </ul>
</Section>
<style>
  #projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 50px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-block: 4px;
  }

  article h3 span {
    color: rgb(0, 188, 47);
  }

  .github-code-link {
    margin-left: 5px;
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer li {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
