---
const currentLanguage = Astro.currentLocale ?? "en"
import { loadCv } from "@/i18n/loadCv"
import { useKeyboardManager } from "@/i18n/utils"
import { keyboardManager, resumeTitle } from "@/i18n/ui"
const cv = await loadCv(currentLanguage)
const translateKeyboardManager = useKeyboardManager(
  currentLanguage as keyof typeof keyboardManager,
)

import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"

---

<Layout cv={cv} title={resumeTitle}>
  <main>
    <Hero cv={cv} />
    <About cv={cv} />
    <Experience cv={cv} />
    <Projects cv={cv} />
    <Education cv={cv} />
    <Skills cv={cv} />
  </main>
  <KeyboardManager
    cv={cv}
    keyboardManagerText={translateKeyboardManager("text")}
  />
</Layout>

<style is:global>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    main {
      padding: 2rem;
    }
  }

  @media screen and (max-width: 480px) {
    main {
      padding: 2rem 1.5rem 6rem;
    }
  }
</style>
